*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.image{ margin-right: 25px;

}
.title{ color: white;
  background-color: #33BEBE;

}
